extends layout

block content
    .page-header
        h3 Approve or deny pending client proposals
    if clients
        each client in clients
            .panel.panel-default
                .panel-heading
                    h4= client.project
                .li.list-group-item
                    h4.list-group-item-heading Name:
                    p.card-text= client.name
                .li.list-group-item
                    h4.list-group-item-heading Email:
                    p.card-text= client.email
                .li.list-group-item
                    h4.list-group-item-heading Description:
                    p.card-text= client.description
                .li.list-group-item
                    h4.list-group-item-heading Applying for:
                    p.card-text= client.term
                .panel-footer
                    .row
                        .col-xs-6
                            form(method='POST')
                                input(type='hidden', name='_csrf', value=_csrf)
                                input(type='hidden', name='clientID', value= client._id)
                                input(type='hidden', name='Decision', value= 'Approve')
                                button.btn.btn-primary(type='submit', value='Approve') Approve
                        .col-xs-6
                            form(method='POST')
                                input(type='hidden', name='_csrf', value=_csrf)
                                input(type='hidden', name='clientID', value= client._id)
                                input(type='hidden', name='Decision', value= 'Deny')
                                button.btn.btn-secondary.pull-right(type='submit', value='Deny') Deny
