extends ../layout

block content
    h1 Instructor Dashboard
    p.lead Manage new client requests, create student teams, and manage student teams
    hr

    // Alerts the instructor if more than one schedule is active in the database
    if schedule.length > 1
        .alert.alert-danger
            | More than one schedule is active!
            |
            a.alert-link(href='#', data-toggle='modal', data-target='#scheduleModal') Click here to fix.
    else
        h4.text-center Active client schedule: #{schedule[0].name}

    .row
            h2 Manage Client Requests
            p(style='white-space:pre;')
                //if pendingClientRequests
                | You have
                strong  #{pendingClientRequests}
                |  pending client requests
                | You have
                strong  #{approvedClientRequests}
                |  approved client requests
                | You have
                strong  #{rejectedClientRequests}
                |  rejected client requests
                | You have
                strong  #{deletedClientRequests}
                |  deleted client requests
            p
                a.btn.btn-default(href='/instructor/client-proposals', role='button') View details »
    hr
    .row
        h2 Manage Client Emails
        p Send emails to approved, pending, or rejected clients.
        p
            a.btn.btn-default(href='/instructor/email-clients', role='button') View details »
    hr
    .row
        h2 Manage Client Presentations
        p See when clients want to present, and generate a final schedule
        p
            a.btn.btn-default(href='/instructor/client-chosen-times', role='button') View details »
    hr
    .row
        h2 Manage Student Milestones
        p View and track student-submitted milestones
        p
            a.btn.btn-default(href='#', role='button') View details »
    hr
    .row
        h2 Student Team Management
        p Click here to view student submitted teams, finalize student teams and assign teams to accepted clients
        p
            a.btn.btn-default(href='/instructor/view-student-submitted-teams', role='button') View details »
    hr
    .row
        h2 Manage email templates
        p Click here to assign students to accepted clients
            .col-sm-2
                a.btn.btn-default(href='/instructor/add-template', role='button') Add a template »
            .col-sm-2
                a.btn.btn-default(href='/instructor/modify-templates', role='button') Modify/Delete templates »
    hr


    // Modal for solving multiple active schedules
    #scheduleModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h2.modal-title Choose Current Schedule
                .modal-body
                    form(method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            each x in schedule
                                input(type='radio', name='chosenschedule', value=x.name)
                                | #{x.name}
                                p
                        .form-group
                            button.btn.btn-primary(type='submit') Make Current
