extends ../layout

block content
    .page-header
        h3 Team Mapping To Projects
    if studentTeams
        each team in studentTeams
            hr
            .row
                p Group Size: #{team.numStudents}
                p Group Members: #{team.student1}, #{team.student2}, #{team.student3}, #{team.student4}
                p Project Preferences: #{team.preferenceList}
